Export Settings: `Radius (Chunks): 6`, `Lower Depth: 32`

Import Settings: **No Entities**

---

Fluid Mode: `NONE`:

- file size: `5.268 MB`
- import time: `15.59 sec`
- blend file size: `64.361 MB`

Fluid Mode: `STATIC`:

- file size: `6.012 MB`
- import time: `21.07 sec`
- blend file size: `95.668 MB`

Fluid Mode: `DYNAMIC`:

- file size: `8.824 MB`
- import time: `44.0 sec`
- blend file size: `134.528 MB`
